<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>waseed.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
				<key>dateExpires</key>
				<string>08/12/1448 AH</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>5.21.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SQLCipher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>4.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ScreenProtectorKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_links.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_settings.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_heic_to_jpg.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress_common.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_zxing.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>gal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>local_auth_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mobile_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>open_filex.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>qr_code_tools.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>screen_capture_event.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>screen_protector.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_sqlcipher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CB668B6541CD8B76AD2636AE7941A0F2C2994D6</string>
						<key>dateExpires</key>
						<string>08/12/1448 AH</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9V8TJW6Z7</string>
						<key>name</key>
						<string>Hadeel Abdullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T9V8TJW6Z7.sa.waseed.app</string>
				<key>com.apple.developer.networking.HotspotConfiguration</key>
				<true/>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>T9V8TJW6Z7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1c496270-0b58-4422-806a-7261d56ac0db</string>
				<key>dateExpires</key>
				<string>08/12/1448 AH</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: sa.waseed.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T9V8TJW6Z7</string>
				<key>name</key>
				<string>Hadeel Abdullah</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
